<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="./stylesheets/login.css">
</head>

<body>
	<!-- partial:index.partial.html -->
	<a href="/login">
		<h1 class="logo">
			<span>GCE L</span>
			<span class="cuboid">
				<span class="cuboid-face cuboid-face-front"></span>
				<span class="cuboid-face cuboid-face-back"></span>
				<span class="cuboid-face cuboid-face-top"></span>
				<span class="cuboid-face cuboid-face-bottom"></span>
				<span class="cuboid-face cuboid-face-left"></span>
				<span class="cuboid-face cuboid-face-right"></span>
			</span>
			<span>GIN</span>

		</h1>

	</a>
</body>

</html>